---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';

---

<Layout title ="Portfolio de Enrique">
	<main>
		<Hero cliente:visible />
	</main>
</Layout>
